@import '@/scss/index.scss';

// Logo

@keyframes pullDown {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0%);
  }
}

.pullDown {
  animation: pullDown 0.3s ease-in-out;
}

@keyframes pullUp {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0%);
  }
}

.pullUp {
  animation: pullUp 0.3s ease-in-out;
}

.logoContainer {
  position: fixed;
  padding: 0rem 2.15rem;
  width: 72px;
  z-index: 20;
  top: 1rem;
}

.logo {
  cursor: pointer;
  filter: drop-shadow(5px 2px 8px #010100);
  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
}

// BookMark

.navWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
}

@keyframes slideDown {
  0% {
    transform: translateY(-76%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-76%);
  }
}

.navbar {
  position: fixed;
  top: 1.2rem;
  left: 0;
  margin-left: 1rem;
  max-width: 5rem;
  height: 80%;
  z-index: 15;
  background-color: $text;
  box-shadow: -3px 0px 10px 2px #3d322880;
}

.navbar.slideDown {
  animation: slideDown 1s ease-in-out forwards;
}

.navbar.slideUp {
  animation: slideUp 1s ease-in-out forwards;
}

.menuContainer {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.icon {
  margin: 1rem 0;
  filter: drop-shadow(5px 2px 8px #010100);
  transition: transform ease 0.2s;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1);
  }
}

.titleNavContainer {
  height: 100%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: 0.2rem;
}

.titleNav {
  transform: rotate(-90deg);
  filter: drop-shadow(5px 2px 8px #010100);
  &:hover {
    transform: rotate(-90deg) scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  &:active {
    transform: rotate(-90deg) scale(1);
    transition: transform 0.3s ease-in-out;
  }
}

.peakSuperiorContainerNotMove {
  position: relative;
  filter: drop-shadow(-3px 0px 10px #3d322880);
  margin-top: -1rem;
  left: 1.2rem;
}

.peakSuperiorContainerMove {
  position: relative;
  filter: drop-shadow(-3px 0px 10px #3d322880);
  top: -2.2rem;
}

.peakInferiorContainer {
  position: relative;
  filter: drop-shadow(-3px 0px 10px #3d322880);
  bottom: -0.2rem;
}

@media (max-width: 1300px) {
  .linksContainer {
    margin-top: 2rem;
  }

  .peakSuperiorContainerNotMove {
    position: relative;
    filter: drop-shadow(-3px 0px 10px #3d322880);
    margin-top: -1.2rem;
    left: 1rem;
  }

  .peakSuperiorContainerMove {
    top: -2-4rem;
  }
}

@media (max-width: 768px) {
  .linksContainer {
    margin-top: 3rem;
  }

  .peakSuperiorContainerMove {
    top: -2.4rem;
  }
}

@media (max-width: 868px) {
  .navbar {
    position: fixed;
    top: 1.2rem;
    left: 0;
    margin-left: 1rem;
    max-width: 4rem;
    background-color: $text;
    box-shadow: -3px 0px 10px 2px #3d322880;
  }

  .logoContainer {
    top: 1.5rem;
    padding: 0rem 1.6rem;
  }

  .titleNavContainer {
    margin-bottom: 2.7rem;
    margin-right: 0.2rem;
  }

  .titleNav {
    width: 80;
    height: auto;
  }

  .peakSuperiorContainerNotMove img {
    width: 72px;
    margin-top: 0.1rem;
  }

  .peakSuperiorContainerMove img {
    width: 72px;
    margin-top: 0.1rem;
  }

  .peakInferiorContainer img {
    width: 64px;
    padding-bottom: 0.9rem;
  }
}
