@import '@/scss/index.scss';

.gridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &:hover .gridItem:not(:hover) .bookCover {
    opacity: 0.7;
  }
}

.bookContainer {
  margin: 1rem 2rem 1rem 0rem;
  z-index: 10;
  max-width: 200px;
}

.bookCover {
  max-width: 200px;
  max-height: 300px;
  border-radius: $border1;
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
  gap: 2rem;
  box-shadow: 5px 5px 10px #866e5253;
}

.bookLinkContainer {
  position: relative;
}

.bookLink {
  > div {
    position: relative;

    > img {
      transition: opacity 0.3s ease;
    }

    .discount {
      position: absolute;
      top: -0.5rem;
      right: -1rem;
    }
  }
}

.iconHeartContainer {
  position: absolute;
  bottom: 0.7rem;
  left: 0.5rem;
  background-color: #fffbefb0;
  border-radius: $border2;
  padding: 0.3rem;
  transition: transform 0.1s ease-in-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.titleBook {
  font-size: $h6;
  white-space: normal;
}

.orderBook {
  color: $quinquenary;
  height: auto;
}

.authorBook {
  font-size: $h6;
  color: $primary;
}

.author,
.sagaTitle {
  color: $quaternary;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.originalPrice {
  font-size: $small;
  color: $quinquenary;
  text-decoration: line-through;
}

.discountedPrice {
  font-size: $h6;
  color: $accent;
  font-weight: bolder;
}

.regularPrice {
  font-weight: bolder;
  font-size: 0.9rem;
  font-size: $h6;
}

@media (max-width: 768px) {
  .gridContainer {
    justify-content: center;
  }
}
