@import '@/scss/index.scss';

.navbar {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
}

.imageWrapper {
  background-image: url('/images/layer-horizontal.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 10vh;
  margin-top: 0.5rem;
}

.narbarContainer {
  display: flex;
  justify-content: space-between;
  padding: 0rem;
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  margin-top: 1rem;
}

.searchInput {
  position: relative;
  height: 1rem;
  padding: 1rem;
  width: 30vw;
  border: none;
  border-radius: $border2;
  left: 8rem;
  z-index: 115;
}

.searchIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
}

.xIcon {
  z-index: 120;
  margin-right: 0.3rem;
  filter: drop-shadow(1px 1px 2px #00152e69);
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.searchButton {
  z-index: 120;
  background: transparent;
  filter: drop-shadow(1px 1px 2px #00152e69);
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.cartIconContainer {
  padding: 1.5rem 0;
  margin-right: 2rem;
  filter: drop-shadow(1px 1px 5px #00152e93);
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 0.8rem;
}

.buttonIn,
.buttonUp {
  background-color: $background;
  color: $primary;
  border-radius: $border2;
  font-size: $small;
  border: 2px solid $primary;
  cursor: pointer;
  padding: $paddingButton;
  white-space: nowrap;
  transition: transform ease 0.2s;
  margin-right: 0.5rem;

  &:hover {
    transform: translateY(-2px);
    color: $background;
    background-color: $primary;
    border: 2px solid $background;
  }
  &:active {
    transform: translateY(-2px);
  }
}

@media (max-width: 1300px) {
  .searchIconContainer {
    width: 16vw;
  }
}

@media (max-width: 968px) {
  .searchInput {
    width: 50vw;
  }

  .searchIconContainer {
    width: 20vw;
  }
}

@media (max-width: 868px) {
  .searchInput {
    width: 50vw;
  }
  .searchIconContainer {
    width: 21vw;
  }
}

@media (max-width: 768px) {
  .searchIconContainer {
    width: 25vw;
  }

  .cartIconContainer {
    padding: 1rem 0;
    margin-right: 3rem;
  }
}

@media (max-width: 568px) {
  .narbarContainer {
    display: flex;
    flex-direction: row;
  }

  .imageWrapper {
    height: 15vh;
    margin-top: 0.5rem;
  }

  .searchForm {
    margin-right: 0rem;
    margin-top: 2rem;
  }

  .searchInput {
    width: 50vw;
    left: 6rem;
  }

  .searchIconContainer {
    display: none;
  }

  .xIcon {
    display: none;
  }

  .searchIcon {
    display: none;
  }

  .cartIconContainer {
    margin-right: 1.5rem;
    margin-top: 0.4rem;
  }

  .buttonContainer {
    margin-top: 1rem;
    margin-right: 0.5rem;
  }

  .buttonUp {
    display: none;
  }
}
