@import '@/scss/index.scss';

// Page title

.namecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: $h3;
  padding-bottom: 2rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  text-shadow: 1px 3px 3px #2d2d2d61;
  &::before {
    content: '';
    height: 10%;
    width: 100%;
    display: block;
    z-index: -5;
    opacity: 30%;
    position: absolute;
    transition: all 0.3s ease;
    background-color: $accent;
  }
  &:hover::before {
    height: 40%;
  }
}

// Grid

.titleBookscontainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: $h5;
}

.orderSaga {
  color: $quinquenary;
}

.titleBooks,
.sagaTitle {
  font-size: $h4;
  margin: 0.5rem 0 0.5rem 0rem;
  white-space: wrap;
  text-shadow: 1px 3px 3px #2d2d2d61;
}

.booksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.gridItem {
  position: relative;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
}

// Image Book

.bookContainer {
  margin: 1rem 1rem 1rem 0rem;
  z-index: 10;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bookCover {
  max-width: 200px;
  max-height: 300px;
  border-radius: $border1;
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
  gap: 2rem;
  box-shadow: 5px 5px 10px #866e5253;
}

.book {
  > div {
    position: relative;

    > img {
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .discount {
      position: absolute;
      top: -0.5rem;
      right: -1rem;
      transition: transform 0.3s ease;
    }
  }

  &:hover > div > img {
    transform: scale(1.03);
  }
}

// Book's data

.infoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: centet;
}

.description {
  margin: 1rem 0;
}

.titleBook {
  font-size: $h6;
  white-space: wrap;
  margin-top: 10px;
}

.authorBook {
  font-size: 0.8rem;
  color: $primary;

  &:hover {
    text-decoration: underline;
  }
}

// Prices

.priceContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.originalPrice {
  font-size: $small;
  color: $quinquenary;
  text-decoration: line-through;
}

.discountedPrice {
  font-size: $h6;
  color: $accent;
  font-weight: bolder;
}

.regularPrice {
  font-weight: bolder;
  font-size: 0.9rem;
  font-size: $h6;
}

// Heart

.iconHeartContainer {
  position: relative;
}

.iconHeart {
  position: absolute;
  bottom: 1rem;
  left: 0.5rem;
  background-color: #fffbefc4;
  border-radius: $border2;
  padding: 0.3rem;
  transition: transform 0.1s ease-in-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}

// Buy button

.btnContainer {
  display: flex;
}

.buyBtn {
  width: 100%;
  border-radius: $border2;
  padding: $paddingButton;
  background-color: $primary;
  color: $background;
  margin-top: 0.5rem;
  transition: transform 0.1s ease-in-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}

@media (max-width: 868px) {
  .name {
    font-size: $h4;
  }

  .booksContainer {
    justify-content: flex-start;
    gap: 0 1rem;
  }

  .bookContainer {
    margin: 1rem 1rem 0rem 0rem;
    max-width: 200px;
  }
}

@media (max-width: 568px) {
  .booksContainer {
    justify-content: center;
    gap: 1rem 0rem;
  }
}
