@import '@/scss/index.scss';

.addressContainer {
  margin-top: 3rem;

  display: grid;
  gap: 2rem;
  margin-bottom: 3rem;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 1300px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}
