@import '@/scss/index.scss';

.containerBody {
  padding: 2rem 7rem 0;
}

.container {
  display: flex;
  justify-content: center;
  padding: 0;
}

.messageNotFound {
  font-size: $h5;
  white-space: wrap;
}
