@import '@/scss/index.scss';

.containerBody {
  padding: 2rem 7rem 0;
}

.container {
  display: flex;
  justify-content: center;
  padding: 0;
}

.messageNotFound {
  font-size: $h5;
  white-space: wrap;
}

@media (max-width: 868px) {
  .containerBody {
    padding: 2rem 2rem 0 5rem;
  }
}

@media (max-width: 568px) {
  .containerBody {
    padding: 2rem 2rem 0 4rem;
  }
}
