@import '@/scss/index.scss';

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  margin-top: 2rem;
  padding: $paddingButton;
  background-color: $accent;
  color: $background;
  border: none;
  border-radius: $border1;
  font-size: $h6;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: $text;
  }
}
