// Colors
$text: #2d2d2d;

$background: #fffbef;

$primary: #96503e;
$secondary: #d49a6a;
$tertiary: #ffefdf;
$quaternary: #e1c2a3;
$quinquenary: #717070;

$blurInput: #c4bbae42;

$accent: #6687b6;

// Font-Sizes
$h1: 4.21rem;
$h2: 3.16rem;
$h3: 2.36rem;
$h4: 1.78rem;
$h5: 1.333rem;
$h6: 1rem;
$small: 0.75rem;

// Border-Radius
$border1: 0.5rem;
$border2: calc(0.5 * 44px);

// Padding Button

$paddingButton: 0.4rem 1rem;
